* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  padding: 50px 50px;
  margin: 0 auto;
  line-height: 1.5;
}
.bg-grey {
  background: #f7f7f7;
}
#banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 600px;
  /* z-index: 2; */
}

#banner h1 {
  position: absolute;
  top: 90px;
  color: #f7f7f7;
  font-family: sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner span {
  position: absolute;
  top: 180px;
  color: #c1c1c1;
  font-family: sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}
#nav-bar {
  text-align: center;
}
#nav-bar i {
  color: green;
}
#nav-bar ul {
  padding-inline-start: 0px;
}
#nav-bar ul li {
  border-left: 1px;
  border-right: 1px solid rgb(212, 212, 212);
  padding: 20px;
}
@media screen and (min-width: 768px) {
  #nav-bar ul li {
    display: inline-block;
  }
}
#nav-bar a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.nav-img {
  position: relative;
  padding: 30px 100px !important;
}
.img-avt {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid green 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 3; */
}
.icon-ttcn li {
  display: inline-block;
  padding: 10px;
  color: green;
}
.container-1 div {
  padding: 50px;
}

.border-b {
  position: relative;
}
.border-b::before {
  position: absolute;
  left: 10px;
  content: "";
  width: 1px;
  height: 100%;
  background-color: orange;
}
@media only screen and (max-width: 768px) {
  .container-1 div {
    padding: 25px;
  }
}

#target {
  background-color: rgb(240, 240, 240);
}
#personal-info {
  background-color: rgb(230, 230, 230);
}
ul span {
  color: #000;
}
h1 {
  color: #000;
  margin-bottom: 50px;
  margin-top: 50px;
}
.container-3 {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; */
  /* column-gap: 30px; */
  /* row-gap: 30px; */
  padding: 50px;
}
/* .container-3 i {
    margin-left: 30px;
} */
.container-3 .noi-dung {
  border: solid #e4e4e4 2px;
  padding: 20px;
}
.container-3 h4::before {
  content: "";
  display: inline-block;
  transform: rotate(90deg);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background-color: green;
}
.green1 {
  background-color: green;
  border-radius: 10px;
  color: #e4e4e4;
  padding: 5px 10px;
}
.container-3 div p:first-of-type {
  margin-bottom: 20px;
}
.container-3 h4 {
  margin-top: 20px;
}
.container-3 div .vach {
  background-color: green;
  /* border-radius: 15%; */
  /* color: #e4e4e4; */
  padding: 0px 30px;
  display: inline-block;
  width: 15px;
  height: 5px;
}
.container-3 div .gray {
  background-color: #858585;
  /* border-radius: 15%; */
  /* color: #e4e4e4; */
  padding: 0px 30px;
  display: inline-block;
  width: 15px;
  height: 5px;
}
.noi-dung {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 130px auto;
}
.noi-dung .grid2 {
  font-size: 35px;
  text-align: center;
  color: black;
}
.noi-dung .grid3 {
  grid-column: 1 / 3;
}
.grid3 ul {
  padding: 0;
}
.grid3 ul li {
  display: inline-block;
  margin: 10px;
}
.grid3 ul i {
  font-size: 50px;
  display: block;
  text-align: center;
}

.border-r:first-child {
  border-right: 1px solid orange;
}
#last {
  border: none;
}
.noi-dung2::after {
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  background-color: orange;
}
.ke-ngang {
  background-color: orange;
  margin: 15px !important;
}
/* .border-c {
  border-left: 1px solid orange !important;
} */

@media only screen and (max-width: 400px) {
  .border-c {
    border-top: 1px solid orange !important;
  }
}
.container4 {
  padding: 5px 50px;
}
.giai-thuong {
  width: 100%;
  /* height: 90px; */
}
.noi-dung2 .chu h4 {
  margin-bottom: 20px;
}
.imgDas {
  width: 100%;
}
.noi-dung3 div {
  width: auto;
}
.noi-dung3 .green2 {
  background-color: grHeen;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  width: auto;
  color: #e4e4e4;
}

.vien {
  background-color: green;
  padding: 5px 5px;
  color: white;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid green;
}
table tr:last-child {
  border-bottom: none;
}
td {
  padding: 7px;
}
.noi-dung3 {
  border: 2px solid rgb(155, 155, 155);
}
#footer li {
  display: inline-block;
  margin: 40px;
}
#footer li i {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: green;
}
#footer ul {
  text-align: center;
}
#to-show1,
#to-show2,
#to-show3,
#to-show4,
#to-show5,
#to-show6 {
  color: white !important;
  background-color: white !important;
  border: none !important;
}
#to-show1:hover,
#to-show2:hover,
#to-show3:hover,
#to-show4:hover,
#to-show5:hover,
#to-show6:hover {
  background-color: #abab0d !important;
}
